@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #000000;
  --tg-theme-bg-color: #E0E0E0;
  --tg-theme-header-bg-color: #E0E0E0;
  --tg-theme-text-color: #4C4C4C;
  --tg-color-scheme: "light";

  background: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1D1D1D;
    --foreground: #8F8F8F;
    --tg-theme-bg-color: #1D1D1D;
    --tg-theme-header-bg-color: #1D1D1D;
    --tg-theme-text-color: #8F8F8F;
    --tg-color-scheme: "dark";
    
    background: var(--background);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: inter, sans-serif;
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 1px solid black;
}